<audio id="audioGhost" style="opacity: 0" src="newEpisodeData.enclosure.attributes.url"></audio>


<div class="ui-g-12">
  <p-messages [(value)]="infoMsgs"></p-messages>
</div>

<!--<div class="ui-g-12">
  <p-fileUpload name="file" url="https://admin.pulpmx.com/audioUpload?show={{podAbbr}}" (onUpload)="verifyUpload($event)"></p-fileUpload>
</div>-->

<div class="ui-g-12">
  <div class="podcast-card" *ngIf="podcastInfo">
    <div class="podcast-card-header">
      <p-toolbar [style]="{'border': 'none', 'padding': '.7em 1em', 'text-align': 'left'}">
        <div class="ui-toolbar-group-right">
          <p-splitButton label="Add Episode" icon="fa-plus" [model]="actionOptions" (onClick)="createNewEpisode()"></p-splitButton>
        </div>
      </p-toolbar>
    </div>
    <div class="podcast-card-content">
      <img src="{{podcastInfo.image.url.textContent}}" />
      <span class="podcast-card-name">{{podcastInfo.title.textContent}}</span>
      <p>
        {{podcastInfo.description.textContent}}
      </p>
    </div>
  </div>
</div>

<div class="ui-g-12">
  <p-accordion *ngIf="podcastInfo && podcastInfo.inactiveEpisodes.length">
    <p-accordionTab header="Inactive Episodes">
      <p-dataTable #inactiveTable [value]="podcastInfo.inactiveEpisodes" [rows]="10" [paginator]="true">
        <p-column field="title.textContent" header="Episode Title"></p-column>
        <p-column field="pubDate.textContent" header="Date Created"></p-column>
        <p-column styleClass="col-button" [style]="{'width': '102px'}">
          <ng-template let-episode="rowData" let-i="rowIndex" pTemplate="body">
            <button type="button" class="green-btn" pButton label="Publish" icon="fa-check" (click)="toggleEpisodeStatus(episode, i, 'inactive')"></button>
          </ng-template>
        </p-column>
        <p-column styleClass="col-button" [style]="{'width': '52px'}">
          <ng-template let-episode="rowData" pTemplate="body">
            <button type="button" pButton (click)="openEpisodeEditor(episode)" icon="fa-edit"></button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
  </p-accordion>
  <br *ngIf="podcastInfo && podcastInfo.inactiveEpisodes.length">

  <p-dataTable #activeTable *ngIf="podcastInfo" [value]="podcastInfo.episodes" [rows]="10" [paginator]="true" responsive="true">
    <p-header>Podcast Episodes | {{podcastInfo.episodes.length}} total</p-header>
    <p-column field="title.textContent" header="Episode Title"></p-column>
    <!--<p-column field="description.textContent" header="Description"></p-column>-->
    <p-column field="enclosure.attributes.url" header="File" [style]="{'overflow': 'scroll'}"></p-column>
    <p-column field="itunes:duration.textContent" header="Duration" [style]="{'width': '86px'}"></p-column>
    <p-column field="enclosure.attributes.length" header="File Size" [style]="{'width': '106px'}"></p-column>
    <p-column field="pubDate.textContent" header="Published On" [style]="{'width': '150px'}"></p-column>
    <p-column styleClass="col-button" [style]="{'width': '86px'}">
      <ng-template let-episode="rowData" let-i="rowIndex" pTemplate="body">
        <button type="button" pButton (click)="openEpisodeEditor(episode)" icon="fa-pencil"></button>
        <button type="button" class="pink-btn" pButton (click)="toggleEpisodeStatus(episode, i, 'active')" icon="fa-ban" pTooltip="Deactivate" tooltipPosition="left"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-dialog *ngIf="podcastInfo" header="General Info for {{podcastInfo.title.textContent}}" modal="true" [(visible)]="showGeneralInfo">
  <div class="ui-g-12">
    <label>Podcast Title</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="podcastInfo.title.textContent" />
  </div>
  <div class="ui-g-12">
    <label>Podcast Description</label>
    <textarea pInputTextarea class="full-width" autoResize="true" [(ngModel)]="podcastInfo.description.textContent"></textarea>
  </div>
  <div class="ui-g-6">
    <label>Feed Link</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="podcastInfo['atom:link'].attributes.href.textContent"
    />
  </div>
  <div class="ui-g-6">
    <label>Last Updated Time</label>
    <input type="text" placeholder="Pub Date" class="full-width" pInputText [(ngModel)]="podcastInfo.pubDate.textContent" />
  </div>
</p-dialog>

<p-dialog class="ui-fluid" *ngIf="podcastInfo" [resizable]="true" header="Add a new episode for {{podcastInfo.title.textContent}}"
  [modal]="true" [(visible)]="showCreateDialog" (onHide)="resetNewEpisode()">
  <p-messages [(value)]="fileInfoError"></p-messages>

  <div class="ui-g-3"></div>
  <div class="ui-g-6">
    <p-fileUpload mode="advanced" name="file" url="https://admin.pulpmx.com/audioUpload?show={{podAbbr}}" (onUpload)="verifyUpload($event)"
      chooseLabel="Choose a file" accept="audio/*">
      <ng-template pTemplate="content">
        <h4 class="text-center" *ngIf="!file">Drag & drop file here</h4>
      </ng-template>
    </p-fileUpload>
  </div>
  <div class="ui-g-3"></div>

  <div class="ui-g-12" *ngIf="route.params['value'].id === 'steveshow'">
    <p-selectButton class="full-width" [options]="steveDefaults" (onChange)="changeSteveDefault($event)"></p-selectButton>
  </div>
  <div class="ui-g-12">
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="newEpisodeData.title.textContent" />
  </div>
  <div class="ui-g-12">
    <textarea pInputTextarea placeholder="Episode Description" class="full-width" [(ngModel)]="newEpisodeData.description.textContent"></textarea>
  </div>
  <div class="ui-g-3">
    <input type="text" placeholder="File Name" class="full-width" pInputText [(ngModel)]="newEpisodeData.enclosure.attributes.url"
    />
  </div>
  <div class="ui-g-2">
    <input type="text" placeholder="File Size" class="full-width" pInputText [(ngModel)]="newEpisodeData.enclosure.attributes.length"
    />
  </div>
  <div class="ui-g-2">
    <p-inputMask mask="9:99:99" placeholder="H:MM:SS Duration" [(ngModel)]="newEpisodeData['itunes:duration'].textContent"></p-inputMask>
  </div>
  <div class="ui-g-3">
    <input type="text" placeholder="Published Date" class="full-width" pInputText [(ngModel)]="newEpisodeData.pubDate.textContent"
    />
  </div>
  <div class="ui-g-2">
    <p-toggleButton onLabel="Inactive" offLabel="Inactive" onIcon="fa-check" offIcon="fa-square" [(ngModel)]="newEpisodeData.isInactive"></p-toggleButton>
  </div>
  <!--<div class="ui-g-12">
    <p-chips placeholder="Keywords (hit enter to separate)" class="full-width" [(ngModel)]="newEpisodeData['itunes:keywords'].textContent"></p-chips>
  </div>-->
  <p-footer>
    <div class="ui-g-12 ui-helper-clearfix text-right">
      <!--<button pButton label="cancel" class="black-btn" (click)="closeEpisodeEdit()"></button>-->
      <p-splitButton class="pull-right ui-helper-clearfix" label="Save Episode + Feed" icon="fa-save" [model]="newEpisodeBtnOptions"
        (onClick)="newEpisodeSaveFeed(dt)"></p-splitButton>
    </div>
  </p-footer>
</p-dialog>

<p-dialog *ngIf="podcastInfo && editingEpisodeData" [modal]="true" [(visible)]="editingEpisodeData">
  <div class="ui-g-12">
    <label>Episode Title</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="editingEpisodeData.title.textContent" />
  </div>
  <div class="ui-g-12">
    <label>Episode Description</label>
    <textarea pInputTextarea placeholder="Episode Description" class="full-width" [(ngModel)]="editingEpisodeData.description.textContent"></textarea>
  </div>
  <div class="ui-g-12">
    <label>Audio URL</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="editingEpisodeData.enclosure.attributes.url"
    />
  </div>
  <div class="ui-g-4">
    <label>File Size</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="editingEpisodeData.enclosure.attributes.length"
    />
  </div>
  <div class="ui-g-3">
    <label>Duration</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="editingEpisodeData['itunes:duration'].textContent"
    />
  </div>
  <div class="ui-g-5">
    <label>Publish Date</label>
    <input type="text" placeholder="Title" class="full-width" pInputText [(ngModel)]="editingEpisodeData.pubDate.textContent"
    />
  </div>
  <p-footer>
    <div class="ui-g-12 ui-helper-clearfix text-right">
      <!--<button pButton label="cancel" class="black-btn" (click)="closeEpisodeEdit()"></button>-->
      <p-splitButton class="pull-right" label="Save Episode" icon="fa-save" [model]="editEpisodeOptions" (onClick)="closeEpisodeEdit()"></p-splitButton>
    </div>
  </p-footer>
</p-dialog>
