/* You can add global styles to this file, and also import other style files */

@import './assets/sass/_variables.scss';
.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.ui-chips {
  ul {
    width: 100%;
  }
}

.podcast-card {
  text-align: center;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  .podcast-card-header {
    height: 70px;
    background-color: #f1f1f1;
  }
  .podcast-card-content {
    margin-top: -25px; //   height: 300px;
    height: auto;
    background-color: #ffffff;
    border-top: 1px solid #eaeaea;
    padding: 5px 15px;
    padding-bottom: 20px;
    img {
      margin-top: -30px;
      max-height: 120px;
      border-radius: 3px;
      // box-shadow: 0 0 3px 1px #939393;
      @media (max-width: 640px) {
        max-height: 80px;
      }
      @media (max-width: 400px) {
        max-height: 60px;
      }
    }
    span {
      display: block;
      &.podcast-card-name {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 12px;
      }
      &.podcast-card-role {
        margin-bottom: 25px;
      }
    }
  }
  .podcast-card-footer {
    height: 50px;
    border-top: 1px solid #eaeaea;
    background-color: #f9f9f9;
    span {
      display: block;
      &:first-child {
        font-weight: 700;
      }
    }
  }
}

// .ui-datatable .ui-datatable-frozen-view .ui-datatable-data > tr > td,
// .ui-datatable .ui-datatable-unfrozen-view .ui-datatable-data > tr > td {
//     height: 24px;
// }
